{%   extends 'base.html' %}
{% block body   %}


<div>

    <form class="appointment-form" action="/login" method="post">
    {% csrf_token %}

            <label for="name">Enter Your UserName</label>
            <input id="name" name="loginusername" type="text">
        <label for="email">Enter Your Password  </label>
            <input id="email" name="loginpass" type="password" minlength="8" maxlength="16">




       <button type="submit" style="
    width: 6%;
    padding: 8px;
    margin-top: 12px;
    color: #fffde5;
    background-color: green;
    border: 2px solid white;
">Login</button>
    </form>

</div>


{% endblock %}